footer {
	background-color: $darker;
	.container {
		.biggie {
			.the-footer {
				padding-top: 3em;
				.three.columns {
					.footer-inner {
						font-family: $regular;
						padding: 0 1em;
						h5 {
							font-family: $scriptBold;
							color: $bright;
						}
						p, a{
							color: white;
							font-family: $regular;
						}
						ul {
							li {
								display: block; 
								list-style: none;
								margin: 0;
								border-top: 1px solid white;
								padding: 0.5em 0;
								a {
									color: white;
									text-align: left;
									&:hover {
										color: $brighter;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}