@media only screen and (max-width : 1023px) {
   .header-inner{
   		.left {
   			img {
    			max-width: 25%;
			}
   		}
   	} 
}

@media only screen and (max-width : 880px) {
	#cssmenu>ul>li>a {
	padding-left:13px;
	padding-right: 13px;
	
}


}

@media only screen and (max-width : 800px) {
	.hello-banner {
		.right {
			h2 {
				padding-left: 0;
			}
		}
		.left {
			h2 {
				padding-right: 0;
			}
		} 
	}

}

@media only screen and (max-width : 550px) { 
	.quote {
		p{
			font-size: 4.5rem;
		}
	}

}