.mobile-menu-wrapper {
	background-color: $darkBG;
	margin-bottom: 1em;
	.mobile-menu-inner {
		float: right;
		padding: 0.5em 2em 0.5em 0;
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
		p{
			float: left;
			padding-right: 1em;
			color: $bg;
			margin: 0;
			text-transform: uppercase;
		}
		.good-burger {
			float: left;
			div {
			    width: 35px;
			    height: 5px;
			    margin: 6px 0;
			    background-color: $bg;
			}
		}	
	}
}

#the-mobi {
	display: none;
	ul {
		text-align: left;
		background-color: $bg;
		li {
			list-style: none;
			padding: 0.2em 1em;
			font-family: $bold;
				text-transform: uppercase;
				font-size: 1.3em;
				display: block;
    
    
			    text-align: left;
			    background-color: $bg;
			    color: $darkBG;

			span.arrow {
				width: 30px;
				height: 30px;
			    text-align: center;
			    position: relative;
			    right: 0;
			    display: inline-block;
			    transition: transform 0.3s;
			    float: right;
			    &:before{
			    	border: solid $darkBG;
				    border-width: 0 2px 2px 0;
				    display: inline-block;
				    padding: 2px;
				    content: '';
			    }
			}
			a {
				font-family: $bold;
				text-transform: uppercase;
			
				display: block;
    
    
			    text-align: left;
			    background-color: $bg;
			    color: $darkBG;
			}
			
			ul {
				display: none;
			}
		}

		
		    
		li.menu-item-has-children {
			a {
				&:after {
					visibility: hidden;
				}
			}
			ul {
				background-color: $light;
				margin: 0;
				li.menu-item-object-page {
					background-color: transparent;
					a {
						font-size: 0.8em;
						background-color: transparent;
						&:after {
							
							visibility: hidden;
						}
					}
				}
			}
		}
	}
}

.show-it {
	display: block !important;
}