@media only screen and (max-width : 1023px) {
   .header-inner{
   		.left {
   			img {
    			max-width: 25%;
			}
   		}
   	} 
}

@media only screen and (max-width : 880px) {
	#cssmenu>ul>li>a {
	padding-left:13px;
	padding-right: 13px;
	
}


}

@media only screen and (max-width : 800px) {
	.hello-banner {
		.right {
			h2 {
				padding-left: 0;
			}
		}
		.left {
			h2 {
				padding-right: 0;
			}
		} 
	}

}
@media only screen and (max-width : 600px) {
	.header-inner {
		.left {
			img {
				max-width: 90%;
			}
		}
	} 
		.news-container {
			padding: 2em;
		}

}

@media only screen and (max-width : 650px) {
	.the-portfolio {
		.about-port {
			.port-inner {
				width: 90%;
			}
		}
	}
	

}

@media only screen and (max-width : 550px) { 
	.quote {
		p{
			font-size: 4.5rem;
		}
	}

}




@media only screen and (max-width : 500px) { 
	.hello-banner.biggie {
		display: none;
	}

}

