$thetransition: all .5s cubic-bezier(1,.25,0,.75) 0s;

#cssmenu {
	// height: 71px;
	display: block;
	padding: 0;
	margin: 0;
	width: auto;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	ul, li, a {
		border: none;
		margin: 0;
		padding: 0;
		line-height: 1;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		text-transform: uppercase;
		color: $text;
	 	font-family: $bold;
	}

	ul {
		list-style: inside none;
		padding: 0;
		margin: 0;
		li {
			list-style: inside none;
			padding: 0;
			margin: 0;
			float: left;
			display: block;
			position: relative;
			ul {
				display: none;
			}
			a {
				outline: none;
				display: block;
				position: relative;
				padding: 12px 20px;
				text-align: center;
				text-decoration: none;
				&:hover {
					color: $bright;
			 	}
			 	&:before {
					content: "";
					position: absolute;
					width: 100%;
					height: 1px;
					bottom: 0;
					left: 0;
					background-color: $brighter;
					height: 2px;
					visibility: hidden;
					-webkit-transform: scaleX(0);
					transform: scaleX(0);
					-webkit-transition: $thetransition;
					transition: $thetransition;
				}
				&:hover:before {
					visibility: visible;
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
				}
				&:after {
					content: '';
					position: absolute;
					top: -1px;
					bottom: -1px;
					right: -2px;
					z-index: 99;
				}
			}
			
		}
		li.menu-item-has-children {
				a {
					&:after {
						content:'\25bc';
						color: $bright;
						margin-top: 0.7em;
					}
					
					&:after {
						top: 0;
						bottom: 0;
					}
					&:before {
						content: '';
						position: absolute;
						top: 32px;
						right: 6px;
					}
				}
				ul {
				li.menu-item-object-page {
					a {
						&:after {
							
							visibility: hidden;
						}
					}
				}
			}
				&:hover {
					color: $bright;
					ul {
						display: block;
						display: block;
					    width: 300px;
					    position: absolute;
					    text-align: left;
					    z-index: 999;
    					background: white;

					    li {
					    	text-align: left;
					    	a {
					    		padding: 0.5em;
					    		margin: 0;
					    		&:hover {
					    			color: $bright;
					    		}
					    		&:before {
					    			visibility: hidden;

					    		}
					    	}
					    }
					}	
					a {
						padding-bottom: 13px;
						padding-top: 13px;
						top: -1px;
						z-index: 999;
						text-transform: uppercase;
						color: $text;
						font-family: $bold;

						&:before{
							top: 40px;
						}
					}
				}
			}
	}
}