.port-banner {
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: initial;
}

.the-portfolio {
	h1{
		color: $darker;
		text-align: center;
		padding: 1em 0;
	}
	.about-port {
		background-color: $bg;
		text-align: left;
		padding: 2em 0;
    	margin: 2em 0;
		.port-inner {
			width: 50%;
			margin: 0 auto;
			h3{
				color: $bright;
				font-family: $bold;
				text-transform: uppercase;
			}
		}
	}

	.portfolio-images {
		height: 500px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin: 4em 0;
	}
	.project-testimonial {
		background-color: $light;
		font-family: $italic;
		color: $text;
		padding: 2em 0;
		margin: 2em 0;
	}

	.gallery {
		dl.gallery-item {
			float: left;
			padding: 0;
			margin: 0;
		}
		.gallery br {
	    	display: none;
		}
	}

	
}

.details {
	background: $bg;
	color: $text;
	margin: 2em 0;
	.inner-details {
		padding: 2em 0;
		.three.columns {
			padding: 0 1em;
		}
		span.info {
			font-size: 0.8em;
			
		}
		p {
			font-family: $bold;
			border-top: 1px solid $text;
			a {
				color: $text;
				font-family: $bold;
				&:hover {
					color: $bright;
				}
			}
		}
	}
}



.port-container {
	background-color: $bg;
	padding: 2em 4em;
	margin-bottom: 2em;
	li {
		list-style: none;
		h4 {
			color: $brighter;
    		text-transform: uppercase;
    		font-family: $bold;
    		margin-bottom: 0;
    		&:hover {
    			color: $lighter;
    		}
		}
	}
	.right.image {
		height: 600px;
		background-position: center top;
	}
}