//index 

.the-post {
	padding: 3em 0;
	text-align: center;
}


.post-banner {
	height: 500px;
	background-size: cover;
	background-position: center top;
}



.news-container {
	background-color: $bg;
	padding: 4em;
	margin-bottom: 2em;
	.biggie {
		.post-info {
			.post-date {
				color: $light;
			}
			.cats {
				color: $bright;
			}
		}
	}

}

.posts-more {
	background-color: white;
	padding-top: 2em;
	padding-bottom: 2em;
	.left {
		
		padding-top: 1em;
		p.Previously {
			font-family: $bold;
			color: $text;
			text-transform: uppercase;
		}
		&:hover {
			opacity: 0.5;
		}
		.post-previous {
			
			p {
				text-transform: uppercase;
				font-family: $headerBold;
				
			   
			    a {
			    	color: $bright;
			    }
			}
			.prev-img {
				width: 50px;
				height: 50px;
				float: left;
				margin-right: 1em;
				img {
					max-width: 100%;
					height: auto;
				}
			}
		}

	}
	.right {
		
		padding-top: 1em;
		p.Next {
			font-family: $bold;
			color: $text;
			text-transform: uppercase;
		}
		&:hover {
			opacity: 0.5;
		}
		text-align: right;
		.post-next {

			p {
				text-transform: uppercase;
				font-family: $headerBold;
				
			   
			    a {
			    	color: $bright;
			    }
			}
			.prev-img {
				width: 50px;
				height: 50px;
				float: right;
				margin-left: 1em;
				img {
					max-width: 100%;
					height: auto;
				}
			}
		}

	}
}




